/*/dataset/
/*/__pycache__/
/*/checkpoints/
/wandb
/*/.ipynb_checkpoints/
/*/tsne_embeddings/
/*/images/
/*/wandb/
/*/*/__pycache__
.vscode/
/*/src/.ipynb_checkpoints
/*/src/*.html
/*/src/*.ipynb
/*/src/*.png 
/.gitignore